.linearGradient{
    background: linear-gradient(10deg,#892074 5%,#77E2E1 100%);
    min-height: 160px;
    max-height: 200px;
}

/* .profile_cntr{
    min-height: 45vh;
} */

.top-profile-cntnr{
    position: relative;
    height: 50vh;
    background-color: #e7e7e7;
}

/* .profile-emoji-img {
position: absolute;
    top: 3rem;
    left: 11%;
} */

.profile-emoji-img img{

        border: 1px solid;
    }

    .profile-box{
        display: flex;
        /* position: absolute;
        top: 36vh;
     
        left: 11%; */
        justify-content: center;
        padding: 5px ;
        width: 203px;
    }

    .emj-follower-cntr {
        position: absolute;
        top: 3rem;
        left: 15%;
    }

    .follower{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid;
        padding: 5px 16px;
        font-size: 12px;
        font-weight: 600;
    }


    


    .email-shower{
            /* position: relative; */
    position: absolute;
    /* top: 32vh; */
    left: 38%;
    padding-top: 1rem;
    font-family: system-ui;
    font-weight: 600;
    font-size: 22px;
    font-family: Gotham,"sans serif",sans-serif,"Helvetica Neue",Helvetica,arial;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    white-space: normal;
    letter-spacing: 0;
    font-size: 16px;
    color: #892074;
    }

    .side_profile_content li {
        cursor: pointer;
        padding: 0.5rem;
    }


.side_profile_content {
    padding: 0;
    }

    .profile_static_cntr {
        /* padding: 2rem; */
        background-color: #e7e7e7;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }

    .profile_white_cntr {
        display: flex;
        gap: 40px;    display: flex;
        width: 70%;
        gap: 40px;
        background-color: #FFF;
        padding: 1rem;
    }

    .profile_label{
        text-align: center;
    }

    .right_section_div{
        display: flex;
        align-items: center;
    }

    .mobile_white_cntr{
        display: none;
    }

    .select{
        width: 100%;
    padding: 4px;
    }

    .iceCream{
        width: 75%;
    }


    @media (max-width: 744px){
        .email-shower{
            position: static;
            text-align: center;
            padding-bottom: 1rem;
        }

        .mobile_white_cntr{
            display: block;
        padding: 0.8rem;

        }
        

        .profile_white_cntr{
            display: none;
        }

        .top-profile-cntnr {
            height: auto;
            /* height: 40vh; */
        }

        .profile_static_cntr {
    background-color: #fff;
}

.emj-follower-cntr {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: -6rem;
    }

    .profile-emoji-img img {
    height: 150px;
}
    }


    @media  (min-width:744px) and (max-width:900px){
    .email-shower {
        left: 50%;
    }

    .top-profile-cntnr {
        height: 30vh;
    }

}